# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

/public
/docs
.DS_Store
.hugo_build.lock
content/posts/markdown-syntax.md
deploy/id_rsa
deploy/id_rsa.pub
deploy/known_hosts
deploy/known_hosts.old
deploy/*.pem
future
content/posts/kubernetes/operators-on-openshift
.gitignore
themes/
resources/